
<center><h1>Welcome to The Flee Market<h1> </center>


<div class = "profile"><h3><a href='username/{{user.username}}'>Your Profile</a></h3></div>
<div class = "logout"><h3><a href='logout'>Log Out</a></h3></div>

<div class = "listing">
	<form method="POST" action="">
		Name: <input type="text" name="name"> <br><br>
		Image Link: <input type="text" name="imageURL"> <br><br>
		Size: <input type="text" name="size"> <br><br>
		Condition (out of 10) : <input type="text" name="condition"> <br><br>
		Description: <input class="textboxid" type="text" name="description"> <br><br>

		<input type="submit" value="Submit Listing"> 
	</form>
</div>

<br><br><br><br>
{{#each items}}
<img width="480" height="320" class="pic" src= "{{this.image}}"  /> 
<div class = descriptions>
	<div style="font-weight: bold">Posted by: <a href="/username/{{this.user}}">{{this.user}}</a> </div> <br><br>
	{{this.name}} <br><br> Size {{this.size}} <br><br> Condition: {{this.condition}}/10 <br><br> Description: {{this.description}} 
	<br><br> <a href="/comments/{{this.slug}}">[Comments]</a>
</div>

<div style="clear:both"></div>
<br><br><br><br><br>

{{/each}}



